{% extends "base.html" %}
{% block content %}



<form action="{% url 'agents:agent_create' %}" style="display: inline-block;">
    <button type="submit"value="agents">Agents</button>
</form>

<form action="{% url 'extractions:testing' %}" style="display: inline-block;">
    <button type="submit" name="extractions_root" value="extractions_root">Extractions</button>
</form>

<form action="{% url 'markets:market_create' %}" style="display: inline-block;">
    <button type="submit" name="markets_root" value="markets_root">Markets</button>
</form>

<form action="{% url 'navigation:testing' %}" style="display: inline-block;">
    <button type="submit" name="navigation_root" value="navigation_root">Navigation</button>
</form>

<form action="{% url 'ships:create_ship_or_cargo' %}" style="display: inline-block;">
    <button type="submit" name="ships_root" value="ships_root">Ships</button>
</form>


{% endblock content %}