{% extends "base.html" %}
{% block content %}


<form action="{% url 'agents:agent_list' %}" style="display: inline-block;">
    <button type="submit"value="agents">Agents</button>
</form>

<form action="{% url 'extractions:extraction_list' %}" style="display: inline-block;">
    <button type="submit" value="extractions">Extractions</button>
</form>

<form action="{% url 'markets:market_list' %}" style="display: inline-block;">
    <button type="submit" value="markets">Markets</button>
</form>

<form action="{% url 'navigation:waypoint_list' %}" style="display: inline-block;">
    <button type="submit" value="navigation">Navigation</button>
</form>

<form action="{% url 'ships:ship_list' %}" style="display: inline-block;">
    <button type="submit" value="ships">Ships</button>
</form>


{% endblock content %}