{% extends "base.html" %}
{% block content %}


<a href="{% url 'agents:agent_list' %}" class="btn btn-outline-dark">Agents</a>

<a href="{% url 'extractions:extraction_list' %}" class="btn btn-outline-dark">Extractions</a>

<a href="{% url 'markets:market_list' %}" class="btn btn-outline-dark">Markets</a>

<a href="{% url 'navigation:waypoint_list' %}" class="btn btn-outline-dark">Navigation</a>

<a href="{% url 'ships:ship_list' %}" class="btn btn-outline-dark">Ships</a>


{% endblock content %}