{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h2>Ships</h2>

<form method="post" action="{% url 'ships:create_ship_or_cargo' %}">
    {% csrf_token %}
    <button type="submit" name="create_ship" value="create_ship">Ship</button>
    <button type="submit" name="create_cargo" value="create_cargo">Cargo</button>
    <button type="submit" name="navigate_ship" value="navigate_ship">Navigate</button>
</form>
<br>


<h2>Ship objects</h2>
    <ul>
    {% for ship in object_list %}
        <li>{{ ship.ship_name }}</li>
        <li>{{ ship.role }}</li>
        <li>{{ ship.location_current }}</li>
        <li>{{ ship.location_current_type }}</li>
        <li>{{ ship.ship_status }}</li>
        <li>{{ ship.fuel_percentage }}</li>
        <br>
    {% endfor %}
    </ul>

{% endblock content %}