{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h2>Navigation</h2>

<form method="post" action="{% url 'navigation:waypoint_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="create">Create</button>
</form>

<form method="post" action="{% url 'navigation:navigate' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="navigate">Navigate</button>
    <input type="text" name="user_input">
</form>

<form method="post" action="{% url 'navigation:dock_toggle' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="dock_toggle">Dock/Orbit</button>
</form>
<br>


<h2>Navigation objects</h2>
<ul>
    <h4>Current location/status</h4>
    {% for ship_data in object_list.ships %}
        <li>{{ ship_data.location_current}} : {{ ship_data.location_current_type}}</li>
        <li>{{ ship_data.ship_status}}</li>
    {% endfor %}
    <br>

    <h4>Destinations</h4>
    {% for waypoint_data in object_list.waypoints %}
        <li>{{ waypoint_data.symbol }}</li>
        <li>{{ waypoint_data.type }}</li>
        <li>{{ waypoint_data.coords_long}},{{ waypoint_data.coords_lat}}</li>
        <ul>
            {% for trait in waypoint_data.traits.all %}
                {% if trait.symbol == 'SHIPYARD' or trait.symbol == 'MARKETPLACE' or trait.symbol == 'MINERAL_DEPOSITS' %}
                <li>{{ trait.symbol }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <br>  
    {% endfor %}
    <br>
</ul>
{% endblock content %}