{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h2>Navigation</h2>

<form method="post" action="{% url 'navigation:waypoint_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
</form>
<button type="submit" name="navigate_ship" value="navigate_ship">Navigate</button>
<br>

<h2>Navigation objects</h2>
    <ul>
    {% for waypoint in waypoint_list %}
        <li>{{ waypoint.symbol }}</li>
        <li>{{ waypoint.type  }}</li>
        <li>{{ waypoint.coords_long}},{{ waypoint.coords_lat}}</li>
        <br>
    {% endfor %}
    </ul>

{% endblock content %}