{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h2>Extractions</h2>
    
    <form method="post" action="{% url 'extractions:extraction_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    <br>
    
    <h2>Extraction objects</h2>
        <ul>
        {% for extraction in object_list %}
            <li>{{ extraction.ship }}</li>
            <li>{{ extraction.extracted  }}</li>
            <li>{{ extraction.units }}</li>
            <br>
        {% endfor %}
        </ul>

{% endblock content %}